body {
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.wUbmzu7w2BcGwrtzoS4f_AHaEo&w=153&h=110&c=8&rs=1&qlt=90&dpr=1.25&pid=3.1&rm=2");
    background-repeat: no-repeat;
    background-size: cover;
   
}

table {
    width: 700px;
    margin-top: 50px;
    color: #d3bc8d;
    font-size: 20px;
    text-align: center;

}

table, th, td {
    font-family: sans-serif;
    margin: 400px;
    margin-top: 70px;
    padding: 3px;
    height: 40px;

}

.nation {
    position: absolute;
    border: 3px solid #d3bc8d;
    margin-left: 1200px;
    top: 2px;

}

.team {
    position: absolute;
    margin-top: 600px;
    margin-left: 1100px;
    border: 3px solid #d3bc8d;
  
}

.state img {
    position: relative;
    border: 3px solid #d3bc8d;
    background-color: black;
    
}

.div-1 { 
    margin-left: 370px;
    color: #d3bc8d;
    margin-top: 100px;
    font-size: 20px;
    height: 10px;
    font-style: italic;

}

.website {
    font-size: 15px;
    position: absolute;
    margin-left: 1200px;

}

.nfl {
    position: absolute;
    margin-top: 600px;
    left: 50px;
    border: 3px solid #d3bc8d;

}

.div-2 {
    position: absolute;
    margin: 600px;
    color: #d3bc8d;
    font-size: 50px;
    font-style: sans-serif;
    font-weight: bolder;
    
}